@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* body {
  background-image: url("https://source.unsplash.com/8zt45T-7G6w/2024x1000");
  background-color: #0d0d0d;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  text-align: center;
} */

h1 {
  text-transform: uppercase;
  font-size: 2.3rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
    max-width: 300px;
  }
}

.clock {
  margin: 1rem auto;
}
.clock-container {
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4), 0 15px 90px 30px rgba(0, 0, 0, 0.4);
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .clock-container {
    max-width: 320px;
  }
}
.clock-col {
  flex: 25%;
  max-width: 200px;
  text-align: center;
  border: 2px solid #1a2026;
  background: #006ea2;
  background: linear-gradient(180deg, #006ea2 0%, #014e73 100%);
}
@media screen and (max-width: 600px) {
  .clock-col {
    flex: 50%;
  }
}
.clock-col:first-child {
  background: #e91e63;
  background: linear-gradient(180deg, #e91e63 0%, #b91852 100%);
}
.clock-timer {
  font-size: 3.6rem;
  padding: 50px 0;
  box-shadow: 0 -5px 5px -5px #333;
}
.clock-label {
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 20px 0;
  margin: 0;
  background: #006ea2;
  background: linear-gradient(180deg, #02496b 0%, #006ea2 100%);
  border-top: 1px solid #013e5b;
}
.clock-label.label-days {
  background: #e91e63;
  background: linear-gradient(0deg, #c91c57 0%, #9e1845 100%);
  border-top: 1px solid #a31847;
}